.btn {
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    
    &--large {
        padding: 10px 20px;
        font-size: 1.2rem;
    }

    &--orange {
        background-color: orange;
    }
}