  .primary-nav {

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        float: left;
        padding: 12px 0;
    }

    a {
        text-decoration: none;
        padding-right: 1.5rem;
        color: #FFF;
    }

    &--pull-right {
        float: right;
    }
}