.section-title {
    font-size: 2.275rem;
    font-weight: 300;
    text-align: center;

  

    @mixin atMedium {
        font-size: 3.75rem;
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .5rem;
        
        @mixin atMedium {
            position: relative;
            top: 8px;
            display: inline-block;
            margin-right: .75rem;
            margin-bottom: 0;
        }
    }

    &--blue {
        color: $mainBlue;
    }

}