.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &--header {
        padding-left: 0;
        padding-right: 0;

        @mixin atMedium {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    &--medium {
        max-width: 973px;
    }

    &--small {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: .5rem;

        @mixin atMedium {
            margin-bottom: 3.875rem;
        }
    }

 
}